@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: 255 255 255;
  --color-black: 12 8 3;
  --color-background: 247 235 222;
  --color-primary: 245 126 0;
  --color-secondary: 244, 225, 205;
  --color-accent: 200 125 45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
