@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: 255 255 255;
  --color-black: 12 8 3;
  --color-background: 247 235 222;
  --color-primary: 245 126 0;
  --color-secondary: 244, 225, 205;
  --color-accent: 200 125 45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.4rem;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  border-radius: 0.4rem;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: rgb(167, 167, 167);
}
